@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #1d1d26;
    font-size: 130%;
    font-weight: 500;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #282b31;
}

.wrapper {
    position: relative;
    flex: 1 0 auto;
}

.columb input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.p-2 {
    padding: 0.5rem !important;
}

.logo-fixed {
    -webkit-box-shadow: 0px 13px 8px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 13px 8px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 13px 8px 0px rgb(0 0 0 / 10%);
    padding: 5px;
    background: #272938;
    justify-content: center;
    margin: auto;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.row {
    margin: 0;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: space-between;
    width: 100%;
}

.padding {
    padding-top: 70px;
}

.row>*:first-child {
    padding-left: 0;
}

.row> {
    padding-left: 0;
}

@media (min-width: 576px) {
    .col {
        width: 50%;
    }

    .logo span {
        font-size: 2rem;
    }
}

@media (max-width: 360px) {
    body {
        font-size: 100%;
    }

    .row>* {
        padding-left: 0;
        padding-right: 0;
    }

    .container {
        padding: 0;
    }

    .table-stats input {
        width: 4.5rem;
    }
}

.imgHolderCol {
    text-align: center;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.imgHolderCol:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

input {
    text-align: center;
}

.col {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.choser {
    /* margin-left: auto; */
    display: flex;
    color: #fff;
    background: grey;
}


.mainForm {
    flex: 1;
}

.form2 {
    flex: 0.5;
}

.checker {
    display: none;
}

.SelectBox {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.SelectBox .row>* {
    padding: 0;
}

.fw-400 {
    font-weight: 400;

}

.logo {
    padding: 0.5rem 0;
    margin-top: 0 !important;
    font-size: 700;
}


.radio:not(:first-child) {
    margin-left: -2px;
}

.radio {
    display: flex;
    flex: calc(50% - 20px);
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40px;
    font-size: 20px;
    margin: 0 10px 15px;
    border: 2px solid #ffffff;
    padding: 10px;
    cursor: pointer;
}

.SelectBox .stats {
    width: 9rem;
}

#classShoe {
    transition: all .3s ease;
}


.common {
    background: #babcbe;
}

.imgHolder {
    display: inline-block;
    vertical-align: middle;
}

.footer {
    margin-top: 5%;
    padding: 2%;
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5);
    height: 50px;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

.type,
.stats {
    border: 1px solid #e3e3e3;
    width: 9rem;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.p-2 {
    padding: 0.5rem !important;
}

.inactive {
    filter: invert(1);
    background-image: url(../assets/rigthArrowInactive.svg);
}

.active {
    filter: invert(1);
    background-image: url(../assets/rigthArrow.svg);
}

.prev-icon {
    transform: rotate(180deg);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    cursor: pointer;
    margin: 0.5rem 0;
}

.next-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    cursor: pointer;
    margin: 0.5rem 0;
}

.table-stats {
    padding-left: 0;
}

.table-stats input {
    background: none;
    max-width: 4rem;
    max-height: 3rem;
    border-radius: 0;
    padding: 0.5rem;
}

.base,
.total {
    text-align: center;
}

.total {
    width: 8.2rem;
}

.min-width-stats {
    width: 4.2rem;
    text-align: center;
}

.inputBase {
    padding-right: 0 !important;
}

.total-inc {

    margin-top: 0%;
    font-weight: 700;
    font-size: 130%;
}

.total-inc span {
    justify-content: space-between;
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
    align-items: center;
    gap: 16px;
    font-size: 1.25rem;
    font-weight: 700;
}

.amt-img {
    width: 1.5rem;
}

.container .row {
    gap: 16px;
}

.container .row .col {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 1.5rem;
    background: #272938;
}
.form-control{
    color: #fff!important;
}